.wrapper {
    margin-top: 20px;
}

/* setup */
.step-wrapper {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-right: 20px;
}
.step {
    margin-bottom: 10px;
    .title-wrapper {
        margin-bottom: 10px;
    }
    .title, .result {
        display: inline;
    }
    a {
        cursor: pointer;
    }
}
.map {
    float: left;
    width: 40%;
    height: 400px;
}
.inactive {
    background-color: #efefef;
    h1 {
        color: #999;
    }
    .content {
        display: none;
    }
}
.done {
    background-color: #efefef;
    .content {
        display: none;
    }
}
.disabled a {
    color: #999;
    cursor: default;
    text-decoration: none;
}
.active {
    background-color: #efefef;
}