.wrapper {
    margin-top: 20px;
}
.wrapper-left {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-right: 20px;
    border: 1px #efefef solid;
    padding-left: 20px;
}
.wrapper-right {
    float: left;
    width: 40%;
    height: 400px;
}

/* setup */
.step {
    margin-bottom: 10px;
    .title-wrapper {
        margin-bottom: 10px;
    }
    .title, .result {
        display: inline;
    }
    a {
        cursor: pointer;
    }
}
.inactive {
    background-color: #efefef;
    h1 {
        color: #999;
    }
    .content {
        display: none;
    }
}
.done {
    background-color: #efefef;
    .content {
        display: none;
    }
}
.disabled a {
    color: #999;
    cursor: default;
    text-decoration: none;
}
.active {
    background-color: #efefef;
}

/* vis */
.vis-options {
    a {
        cursor: pointer;
    }
    .chip {
        display: inline-block !important;
        width: 60px !important;
        height: 20px !important;
    }
    .fill-edit {
        background-color: #efefef;
        padding: 20px;
    }
    .color-picker-wrapper {
        width: 120px;
    }
}

@import 'd3';