<div ng-include src="'views/step.html'" ng-controller="StepsCtrl"></div>

<script type="text/ng-template" id="place.html">
    <span ng-bind-html="match.label.name | uibTypeaheadHighlight:query"></span> /
    <span ng-bind-html="match.label.humanTime | uibTypeaheadHighlight:query"></span> /
    <span ng-bind-html="match.label.count | uibTypeaheadHighlight:query"></span>
    <span> days </span>
</script>

<div class="wrapper-left">

    <!-- each step -->
    <div ng-repeat="step in steps" ng-class="step.style" class="step">

        <!-- title-->
        <div class="title-wrapper">
            <h1 class="title"> Step{{ $index + 1 }}. {{ step.title }} </h1>
            <div ng-if="step.style=='done'" class="result">
                <span class="glyphicon glyphicon-ok"></span>
                {{ step.result }}
                <span><a ng-click="revertStepTo($index)">Edit</a>
            </div>
        </div>

        <!-- select places -->
        <div ng-if="$index < steps.length - 1" class="content">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Search</span>
                <input type="text" ng-model="typedPlace" uib-typeahead="place.name as place for place in namedPlaces | filter:{name:$viewValue} | limitTo:10" class="form-control" placeholder="Type a place name" typeahead-template-url="place.html" typeahead-on-select="addTypedPlace($item, step.label); typedPlace = '';" ng-blur="true">
            </div>
            <ol>
                <li ng-repeat="p in candidates[step.label] | limitTo: placeCount[step.label] track by $index " class="{{ highlighted == $index ? 'highlighted' : '' }}">
                    <input type="checkbox" ng-model="selected[step.label][$index]" ng-click="updateMarkerColor(step.label, $index)">
                    {{ p.name }} / {{ p.humanTime }} / {{ p.count }} days
                    <span><a ng-click="locateOnMap(step.label, $index)">Map</a></span>
                    <span>
                        <a ng-click="isEditCollapsed = !isEditCollapsed">
                            <span ng-show="isEditCollapsed">Edit</span>
                            <span ng-hide="isEditCollapsed">Close</span>
                        </a>
                    </span>
                    <span><a ng-click="deleteCandidate(step.label, $index)">Delete</a></span>
                    <div ng-hide="isEditCollapsed">
                        <input type="text" class="form-control" ng-model="newLocationNames[$index]" placeholder=" Enter a new name" ng-click="clearLocationName($index)">
                        <button type="button" class="btn btn-primary" ng-click="updateLocationName(step.label, $index); isEditCollapsed = true">Edit</button>
                    </div>
                </li>
            </ol>
            <p><a class="btn btn-success" ng-click="completeStep($parent.$index)">Done <span class="glyphicon glyphicon-ok"></span></a></p>
        </div>

        <!-- last step. merge uplicates -->
        <div ng-if="$index == steps.length-1" class="content">
            <ul>
                <li ng-repeat="d in duplicates" ng-class="mergingAt == $index? 'active' : ''">
                    <div>
                        {{ d[0].name }} ({{ d.length }})
                        <span ng-show="d.length == 1">
                            Done
                            <a ng-click="editMergedPlaces($index)">Edit</a>
                        </span>
                        <span ng-show="mergingAt !== $index && d.length > 1"><a ng-click="mergeAt($index)">locate</a></span>
                    </div>
                    <div ng-show="d.length > 1 && mergingAt == $index">
                        <span ng-repeat="p in d">
                            <input type="checkbox" ng-model="merged[$parent.$index][p.id]" ng-click="updateMarkerColor($parent.$index, $index, p.id)">
                            {{ p.count }} days
                            <span><a ng-click="locateOnMap($parent.$index, $index)">Map</a></span>
                        </span>
                        <span ng-class="isReadyToMerge($index) ? '' : 'disabled'">
                            <a ng-click="mergeDuplicates($index)">merge</a>
                        </span>
                    </div>
                </li>
            </ul>
            <p><a class="btn btn-success" ng-click="completeStep($index)">Done <span class="glyphicon glyphicon-ok"></span></a></p>
        </div>
    </div>

    <!-- done with all steps -->
    <p ng-if="done"><a class="btn btn-lg btn-success" ng-href="#/trips">Next <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- map -->
<leaflet markers="map.markers" bounds="map.bounds" lf-center="map.center" class="wrapper-right"></leaflet>