<div ng-include src="'views/step.html'" ng-controller="StepsCtrl"></div>

<div class="wrapper-left">
    <h2> Add Trips </h2>
    Let us know if you had any trips with time-zone change. Here are our suggestions.
    <div ng-if="!loaded">
        Analyzing your trips
    </div>
    <div ng-if="loaded">
        <div ng-repeat="trip in tripList track by $index" class="trip-list">
            <div class="check-box"><input type="checkbox" ng-model="selected[$index]"></div>
            <div class="date">{{ trip.date | amDateFormat:'MMM DD YYYY (ddd)'}}</div>
            <div class="itinerary">
                <div class="location-name">{{ trip.name.from }}</div>
                <div class="location-name"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                <div class="location-name">{{ trip.name.to }}</div>
            </div>
            <div><span><a ng-click="removeTrip($index)">delete</span></div>
            <div ng-if="(trip.date | amDateFormat: 'YYYYMMDD') == (tripList[$index - 1].date | amDateFormat: 'YYYYMMDD')" class="merge">
                <span><a ng-click="mergeTrips($index)">merge</span>
            </div>
        </div>
    </div>
    <!-- Add a trip -->
    <div><a ng-click="isAddOpen = !isAddOpen">Add a trip</a></div>
    <div ng-show="isAddOpen">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="MMMM dd, yyyy" ng-model="dt" show-weeks="false" placeholder="{{ minDate | amDateFormat: 'MMMM DD, YYYY' }}" is-open="datePicker.opened" min-date="minDate" max-date="maxDate" init-date="minDate" ng-required="true" show-button-bar="false" ng-change="setTripDate(this)">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <input type="text" ng-model="newTrip.typed.from" placeholder="San Francisco">
        <input type="text" ng-model="newTrip.typed.to" placeholder="Paris">
        <button type="button" class="btn btn-primary" ng-click="searchTripGeocoding(); isAddOpen = true">Add</button>
        <div ng-if="newTrip.searched">
            We found <br/>
            <strong>{{ newTrip.newName.from }}</strong> for {{ newTrip.typed.from }} and <br/>
            <strong>{{ newTrip.newName.to }}</strong> for {{ newTrip.typed.to }}.<br/>
            Want to add with these names?
            <div><a ng-click="addTrip(true)">YES</a></div>
            <div><a ng-click="addTrip(false)">NO - use what I typed</a></div>
        </div>
    </div>

    <!-- Finish Button -->
    <p><a class="btn btn-lg btn-success" ng-href="#/canvas">Next <span class="glyphicon glyphicon-ok"></span></a></p>
</div>
