<div ng-include src="'views/step.html'" ng-controller="StepsCtrl"></div>

<div class="wrapper-left">
    <div class="vis-options">
        <h2> Colors </h2>
        <div ng-repeat="(type, list) in places">
            <div>{{ type }}</div>
            <ul>
                <li ng-repeat="place in list">
                    {{ place.name }} / {{ place.humanTime }} / {{ place.count }} days
                    <color-chip data-color="colors[type][$index]" data-texture="textures[type][$index]" data-type="{{ type }}" data-index="{{ $index }}">
                        <div class="chip" style="background-color: {{ colors[type][$index] }}"><svg width="60" height="20"></svg></div>
                    </color-chip>
                    <span>
                        <a ng-click="isEditCollapsed = !isEditCollapsed">
                            <span ng-show="isEditCollapsed">Edit</span>
                            <span ng-hide="isEditCollapsed">Close</span>
                        </a>
                    </span>
                    <!-- color and texture edit panel -->
                    <div ng-hide="isEditCollapsed" class="fill-edit">
                        <color-picker ng-model="colors[type][$index]" color-picker-format="'hex'" color-picker-alpha="false" color-picker-case="'lower'"></color-picker>
                        <texture-list ng-repeat="i in textOptionsCount()" data-index="{{ i }}">
                            <div ng-class="textures[type][$parent.$index] == i ? 'texture selected' : 'texture normal'" style="background-color: {{ colors[type][$parent.$index] }}" ng-click="updateTextureSelection(type, $parent.$index, i)">
                                <svg width="20" height="20"></svg>
                            </div>
                        </texure-list>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper-right vis">
    <div id="vis"></div>
</div>