<div class="wrapper-left">
    <div class="vis-options">
        <h2> Colors </h2>
        <div ng-repeat="(type, list) in places">
            <div>{{ type }}</div>
            <ul>
                <li ng-repeat="place in list">
                    {{ place.name }} / {{ place.humanTime }} / {{ place.count }} days
                    <!-- options.colors[type][$index % options.colors[type].length] -->
                    <div style="background-color:{{ colors[type][$index] }};" class="chip"></div>
                    <span>
                        <a ng-click="isEditCollapsed = !isEditCollapsed">
                            <span ng-show="isEditCollapsed">Edit</span>
                            <span ng-hide="isEditCollapsed">Close</span>
                        </a>
                    </span>
                    <div ng-hide="isEditCollapsed" class="fill-edit">
                        <color-picker ng-model="colors[type][$index]" color-picker-format="'hex'" color-picker-alpha="false" color-picker-case="'lower'"></color-picker>
                        <div>new pattern selection comes here</div>
                        <button type="button" class="btn btn-primary" ng-click="isEditCollapsed = true">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
 <!--    <p ng-if="edited"><a class="btn btn-lg btn-success" ng-click="completeEdit(); edited = false">Update <span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>
<div class="wrapper-right vis">
    <div id="vis"></div>
</div>