<div class="wrapper-left">
    <div class="vis-options">
        <h2> Colors </h2>
        <div ng-repeat="(type, list) in places">
            <div>{{ type }}</div>
            <ul>
                <li ng-repeat="place in list">
                    {{ place.name }} / {{ place.humanTime }} / {{ place.count }} days
                    <color-chip data-color="colors[type][$index]" data-texture="textures[type][$index]" data-type="{{ type }}" data-index="{{ $index }}">
                        <svg width="100" height="20"></svg>
                    </color-chip>
                    <span>
                        <a ng-click="isEditCollapsed = !isEditCollapsed">
                            <span ng-show="isEditCollapsed">Edit</span>
                            <span ng-hide="isEditCollapsed">Close</span>
                        </a>
                    </span>
                    <div ng-hide="isEditCollapsed" class="fill-edit">
                        <color-picker ng-model="colors[type][$index]" color-picker-format="'hex'" color-picker-alpha="false" color-picker-case="'lower'"></color-picker>
                        <div>new pattern selection comes here</div>
                        <button type="button" class="btn btn-primary" ng-click="isEditCollapsed = true">Edit</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper-right vis">
    <div id="vis"></div>
</div>